@import './config.scss';

.container-filter{  
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: $lightGreyColor;
    border-radius: 12px;
    padding: 10px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 18px;
            color: $primaryColor;
            letter-spacing: 0.01em;
            font-weight: bold;
        }

        img {
            cursor: pointer;
        }
    }

    .form {
        display: none;
    }
    

    @media screen and (min-width: $mediaQueryDesktop) {
       .mobile-filters {
            display: none;
        }
    }
}